# See https://help.github.com/articles/ignoring-files/ for more about ignoring files.

# dependencies
/DeepTalekar-frontend/node_modules
/DeepTalekar-frontend/.pnp
/DeepTalekar-frontend/.pnp.js

# testing
/DeepTalekar-frontend/coverage

# next.js
/DeepTalekar-frontend/.next/
/DeepTalekar-frontend/out/

# production
/DeepTalekar-frontend/build

# misc
/DeepTalekar-frontend/.DS_Store
/DeepTalekar-frontend/*.pem

# debug
/DeepTalekar-frontend/npm-debug.log*
/DeepTalekar-frontend/yarn-debug.log*
/DeepTalekar-frontend/yarn-error.log*

# local env files
/DeepTalekar-frontend/.env*.local

# vercel
/DeepTalekar-frontend/.vercel

# typescript
/DeepTalekar-frontend/*.tsbuildinfo
/DeepTalekar-frontend/next-env.d.ts


# BACKEND
/DeepTalekar-backend/node_modules
/DeepTalekar-backend/.env